<launch>
  <include file="$(find forklift_simulation)/launch/ekf.launch" />
  <param name="robot_description"
    command="$(find xacro)/xacro $(find forklift_simulation)/description/urdf/forklift.xacro" />
  <!-- Create a robot_state_publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_sim_time" value="true" />
    <remap from="/joint_states" to="/simulation/joint_states" />
  </node>

  <arg name="port1" default="/dev/ttyACM0" />
  <arg name="baud" default="57600" />

  <node pkg="rosserial_python" type="serial_node.py" name="arduino" output="screen">
    <param name="port" value="$(arg port1)" />
    <param name="baud" value="$(arg baud)" />
  </node>

  <arg name="port2" default="/dev/ttyACM1" />

  <node pkg="rosserial_python" type="serial_node.py" name="arduino2" output="screen">
    <param name="port" value="$(arg port2)" />
    <param name="baud" value="$(arg baud)" />
  </node>

  <node name="imu_filter_node_for_orientation" pkg="imu_complementary_filter"
    type="complementary_filter_node">
  </node>
  <node name="converter_node" pkg="mpu9250_ros_driver" type="custom_to_imu.py">
  </node>
  <node name="wheel_encoder" pkg="forklift_simulation" type="wheel_encoder_live.py" />
  <!--Control node-->
  <!-- <node name="Controller_node" pkg="forklift_simulation" type="controller_live.py" />  -->

  <!-- <node name="RVIZ_transformer" pkg="forklift_simulation" type="rviz_transformer.py" /> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find
  forklift_simulation)/config/forklift_odom_test.rviz" />  -->

  <node name="node_name" pkg="node_name" type="node_name" output="screen" />

  <include file="$(find ydlidar_ros_driver)/launch/X4.launch" />

  <node name="map_loading" pkg="map_server" type="map_server" args="$(find forklift_simulation)/maps/lab_map_v2.yaml" output="screen" />

  <node pkg="amcl" type="amcl" name="amcl">
    <param name="initial_pose_x" value="0.0" />
    <param name="initial_pose_y" value="0.0" />
    <param name="initial_pose_a" value="0.0" />
    <param name="base_frame_id" value="base_footprint" />
    <param name="global_frame_id" value="map" />
    <param name="map_frame_id" value="map" />
    <param name="odom_frame_id" value="odom" />
    <param name="update_min_d" value="0.01" />
    <param name="update_min_a" value="0.1" />
    <!-- <param name="resample_interval" value="1.0"/>
    <param name="laser_max_correction" value="0.2"/>
    <param name="max_particles" value="250"/>
    <param name="odom_alpha1" value="0.001"/>
    <param name="odom_alpha2" value="0.001"/>
    <param name="odom_alpha3" value="0.001"/>
    <param name="odom_alpha4" value="0.001"/>
    <param name="odom_alpha5" value="0.001"/> -->
      
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find forklift_simulation)/config/forklift_pathplanning.rviz" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find forklift_simulation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find forklift_simulation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find forklift_simulation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find forklift_simulation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find forklift_simulation)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find forklift_simulation)/param/move_base_params.yaml" command="load" />
  </node> 

</launch>
