<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find forklift_simulation)/description/urdf/forklift.xacro" />
    <!-- Create a robot_state_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="use_sim_time" value="true" />
        <remap from="/joint_states" to="/simulation/joint_states" />          
    </node>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find forklift_simulation)/worlds/my_home.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <!-- <arg name="gui" value="true" />
        <arg name="recording" value="false" />
        <arg name="debug" value="false" /> -->
    </include>

    <node name="spawn_gazebo_entity" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
       args="-urdf -param robot_description -model forklift -x 0 -y 0 -z 0">
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find forklift_simulation)/config/forklift_simulation_simulation.rviz"/> -->
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/> -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find forklift_simulation)/worlds/custom.world"/>
        
    </include> 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find smobile_robot)/gazebo/worlds/maze.world"/>        
    </include> -->
    

</launch>
