<launch>
  <node name="middle_man" pkg="forklift_simulation" type="middle_man.py" output="screen"/>
  <!-- <node name="RVIZ_transformer" pkg="forklift_simulation" type="rviz_transformer.py"/> -->
  <node name="real_location" pkg="forklift_simulation" type="real_location.py" output="screen"/>
  <!-- <node name="controller" pkg="forklift_simulation" type="controller.py" /> -->
  


  <group ns="simulation">
      <rosparam file="$(find forklift_simulation)/config/gazebo_controller.yaml" command="load"/>
      <rosparam file="$(find forklift_simulation)/config/joint_limits.yaml" command="load"/>
      <rosparam file="$(find forklift_simulation)/param/publishing_rates.yaml" command="load" />

    
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
        args="
              joint_state_controller
              drive_wheels
              steering_axel
              steering_wheel
              fork_joint_controller"/> 
              
    </group>
  
</launch>